{% include "header.html" %}
<body>

<div class="h-screen flex flex-col">
  <nav class="bg-gray-800 text-white p-2">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-xl font-semibold">Will AI Do This?</a>
            <a class="text-xs"> Last Updated: {{last_updated}} </a>
            <div class="flex space-x-4">
                <a href="/" class="hover:bg-gray-700 p-2 rounded">Home</a>
		<a href="https://docs.google.com/forms/d/e/1FAIpQLScdZMemvK_Qzg2W8YghHF89P12Gt3bXfHe6C2rIcww4m0DZhg/viewform?usp=pp_url&entry.704889696=I+agree+to+receive+email+updates+and+promotional+material+from+WillAIDoThis." class="hover:bg-gray-700 p-2 rounded">Submit Example!</a>
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSem8d24ADKWRy54EaQXtgiUa6w7n8xJb6pSTiVEkl72V6HeQg/viewform" class="hover:bg-gray-700 p-2 rounded">Feedback</a>
            </div>
        </div>
    </nav>

  <div class="flex-col space-y-2 flex-1 bg-gray-100 overflow-auto px-10 p-2" id="main">

  {% block content %}{% endblock %}

  </div>

  <footer class="flex h-10 bg-gray-800 justify-center">
	  <p class="text-white"> Made with ❤ by </p>
  </footer>

</div>
</body>
</html>
