<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Will AI do this?</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>
</head>

<body>

<div class="h-screen flex flex-col">
  <nav class="bg-gray-800 text-white p-2">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-xl font-semibold">Will AI Do This?</a>
            <div class="flex space-x-4">
                <a href="/" class="hover:bg-gray-700 p-2 rounded">Home</a>
		<a href="https://docs.google.com/forms/d/e/1FAIpQLScdZMemvK_Qzg2W8YghHF89P12Gt3bXfHe6C2rIcww4m0DZhg/viewform?usp=pp_url&entry.704889696=I+agree+to+receive+email+updates+and+promotional+material+from+WillAIDoThis." class="hover:bg-gray-700 p-2 rounded">Subit Example!</a>
            </div>
        </div>
    </nav>

  <div class="flex-col space-y-2 flex-1 bg-gray-100 overflow-auto px-10 p-2" id="main">

  {% for card in cards %}
    <div class="p-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          {{card.title}}
          {% if card.has_image %}
          📸
          {% endif %}
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400" style="max-width:100ch;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">{{card.front | safe}}</p>
      <a hx-get="/{{card.id}}.html" hx-trigger="click" hx-target="#main" hx-swap="innerHTML" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Read more
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
    </div>
  {% endfor %}
    

  </div>

  <footer class="flex h-10 bg-gray-800 justify-center">
	  <p class="text-white"> Made with ❤ by </p>
  </footer>

</div>
</body>
</html>
