{% include "header.html" %}
<body class="flex flex-col h-screen">

<nav class="bg-gray-800 p-3 text-white">
    <div class="container mx-auto flex flex-wrap justify-between items-center">
        <a href="/" class="text-xl font-semibold">Will AI Do This?</a>
        <div class="flex md:hidden">
            <button id="nav-toggle" class="text-white focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
            </button>
        </div>
        <div class="w-full md:block md:w-auto" id="nav-content">
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                <li>
                    <a href="/" class="block py-2 pr-4 pl-3 rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:p-0">Home</a>
                </li>
                <li>
                  <a href="{{submit_url}}" class="block py-2 pr-4 pl-3 rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:p-0">Submit Example!</a>
                </li>
                <li>
                  <a href="{{feedback_url}}" class="block py-2 pr-4 pl-3 rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:p-0">Feedback</a>
                </li>
                <li>
                    <a href="/faq.html" class="block py-2 pr-4 pl-3 rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:p-0">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var navToggle = document.getElementById('nav-toggle');
        var navContent = document.getElementById('nav-content');
        navToggle.addEventListener('click', function () {
            navContent.classList.toggle('hidden');
        });
    });
</script>

<div class="flex flex-col flex-1">
    <main class="flex-1 bg-gray-100 p-4 md:p-8 overflow-auto" id="main">
        <!-- Content block placeholder -->
         {% block content %}{% endblock %}
    </main>
 <footer class="footer">
       <div class="icons">
            <a href="https://kiedanski.com/" class="hover:underline flex items-center">
              Made with <i class="fas fa-heart heart"></i> by Diego 
            </a>
            <a href="https://github.com/kiedanski/willaidothis.com" class="hover:underline flex items-center" target="_blank">
                <i class="fab fa-github mr-2"></i> GitHub Project
            </a>
       </div>
        <div>
            <a href="https://staticapp.dev" class="text-sm">Do you want to create a website just like this? Checkout staticapp.dev</a>
        </div>
        <div>
            <a class="text-xs">Last Updated: {{last_updated}}</a>
        </div>
    </footer>
</div>

</body>
</html>

