{% extends "base.html" %}
{% block content %}
    <!-- Title and Tags -->
    <div class="flex justify-between items-center mb-8">
	    <h1 class="text-2xl font-bold">{{card.title}}</h1>
        <div class="flex space-x-2">
		<span class="bg-blue-200 text-blue-800 text-sm font-semibold px-4 py-2 rounded-full">{{card.status}}</span>
		<span class="bg-green-200 text-green-800 text-sm font-semibold px-4 py-2 rounded-full">{{card.model}}</span>
        </div>
    </div>

    <!-- Prompt Section -->
    <div class="mb-8">
        <div class="bg-white p-6 rounded-lg border-l-4 border-blue-500 shadow-md">
            <h2 class="text-lg font-semibold mb-4">Prompt</h2>
	    <div>{{card.prompt | safe}}</div>
        </div>
    </div>

    <!-- Answer Section -->
    <div class="mb-8">
        <div class="bg-white p-6 rounded-lg border-l-4 border-green-500 shadow-md">
            <h2 class="text-lg font-semibold mb-4">Answer</h2>
	    <div>{{card.answer | safe }}</div>
        </div>
    </div>

    <!-- Analysis Section -->
    {% if card.analysis|length > 0 %}
    <div>
        <div class="bg-white p-6 rounded-lg border-l-4 border-yellow-500 shadow-md">
            <h2 class="text-lg font-semibold mb-4">Analysis</h2>
	    <div>{{card.analysis | safe}}</div>
        </div>
    </div>
    {% endif %}
{% endblock %}
