.front-title {
  padding: 2pt;
}

:link { color: #0000EE; }

.about-card a {
        text-decoration: underline;
}

.front-title {
  max-width: 100ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.front-description p {
  max-width: 100ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative; /* Changed to relative if absolute positioning is not required */
    width: 100%;
}
.icons {
    display: flex;
    justify-content: space-around; /* Changed from 'space-between' to 'space-around' for better centering */
    align-items: center;
    width: 60%; /* Adjust the width as necessary */
    margin: 0 auto; /* Centering the flex container horizontally */
}
.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px; /* Ensures some space around the links */
}
.footer a:hover {
    text-decoration: underline;
}
.heart {
    color: red;
    margin: 0 5px; /* Margin around the heart icon for better alignment */
}
.footer .text-xs {
    font-size: 12px; /* Small font for auxiliary information */
}

